body {
    margin:0;
    padding:0;
    background-color: #000;
}

.container {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);


}

.button {
   position: relative;
   text-align: center;
   width:250px;
   padding:40px;
   font-size:40px;
   color:#d81fd8;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-weight:400;
   border: 5px solid plum;
   text-transform: uppercase;
   letter-spacing: 15px;
    cursor: pointer;
    border-radius: 100px;
    transition:1.5s;
}


.button:hover {
    box-shadow: 0 5px 0 plum inset, 0 5px 50px 0 ,
                0 5px 0 plum inset, 0 5px 50px 0 plum;
  text-shadow: 0 0 5px plum, 0 0  5px plum;
}